.input 
  border-style: solid
  border-width: 1px
  background-color: rgb(245, 245, 245)
  padding: 0.2rem
  font-weight: 700

  &:focus
    outline-color:  rgb(76, 76, 250)

  &:select 
    background-color: rgb(245, 245, 245)
    