.heading
  &-primary
    font-family: 'Josefin Sans', sans-serif
    font-size: 1.8rem
    color: rgb(2, 2, 184)

  &-secondary 
    font-family: 'Josefin Sans', sans-serif
    font-size: 1.5rem
    font-weight: 700